@using Entidades.Articulos
@using Microsoft.Extensions.Configuration
@model IEnumerable<Libro>
@inject IConfiguration Configuracion

@{
  ViewData["Title"] = "ListaLibros";
}

<h1>Lista de Libros Segun Criterio...</h1>

<h2>@Configuracion["mensaje"]</h2>

<div class="container">

  @foreach (var item in Model)
  {
    <partial name="_DetalleLibro" model="item" />
  }

</div>

